@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color: red;
  font-size: 1.6rem;
}
