<nav class="flex items-center justify-center">
  <ul class="flex items-center -space-x-px h-10 text-base">
    @if (pageInfo.currentPage !== 1) {
      <li>
        <button
          (click)="onPageClick(currentPage - 1)"
          class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Previous</span>
          <svg
            class="w-3 h-3 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
        </button>
      </li>
    }

    @if (pageInfo.currentPage - 2 > 0) {
      <li>
        <button
          (click)="onPageClick(currentPage - 2)"
          [class]="getClassNameByCurrentPage(currentPage - 2)"
        >
          {{ currentPage - 2 }}
        </button>
      </li>
    }

    @if (pageInfo.currentPage - 1 > 0) {
      <li>
        <button
          (click)="onPageClick(pageInfo.currentPage - 1)"
          [class]="getClassNameByCurrentPage(pageInfo.currentPage - 1)"
        >
          {{ pageInfo.currentPage - 1 }}
        </button>
      </li>
    }

    <li>
      <button
        aria-current="page"
        [class]="getClassNameByCurrentPage(pageInfo.currentPage)"
      >
        {{ pageInfo.currentPage }}
      </button>
    </li>

    @if (pageInfo.currentPage + 1 <= pageInfo.lastPage) {
      <li>
        <button
          (click)="onPageClick(pageInfo.currentPage + 1)"
          [class]="getClassNameByCurrentPage(pageInfo.currentPage + 1)"
        >
          {{ currentPage + 1 }}
        </button>
      </li>
    }

    @if (pageInfo.currentPage + 2 < pageInfo.lastPage) {
      <li>
        <button
          (click)="onPageClick(pageInfo.currentPage + 2)"
          [class]="getClassNameByCurrentPage(pageInfo.currentPage + 2)"
        >
          {{ pageInfo.currentPage + 2 }}
        </button>
      </li>
    }

    @if (pageInfo.currentPage !== pageInfo.lastPage) {
      <li>
        <button
          (click)="onPageClick(pageInfo.currentPage + 1)"
          class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <span class="sr-only">Next</span>
          <svg
            class="w-3 h-3 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
        </button>
      </li>
    }
  </ul>
</nav>
