<header>
  <app-nav-auth></app-nav-auth>
  <a routerLink="/">
    <img
      class="scale-75 mx-auto"
      src="https://assets.website-files.com/62c1627eee0defc3a1256898/62cf234679dbabe18fa50a1e_pokeapi_256%201.svg"
      alt=""
    />
  </a>
</header>

<div class="container-app">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>

<footer>
  <p class="text-2xl">
    &#169;
    <a href="https://github.com/leephan2k1/pokemon-app" target="_blank"
      >https://github.com/leephan2k1/pokemon-app</a
    >
  </p>
</footer>
